.radix-themes {
	--default-font-family: var(--font-inter);
}

#LogOut {
	--cursor-menu-item: pointer;
}
#customButton {
	--cursor-button: pointer;
}

.selectBadge {
	[data-accent-color='tomato'] {
		--accent-12: var(--tomato-11);
		--accent-a12: var(--tomato-a11);
		font-weight: 500;
	}
	[data-accent-color='indigo'] {
		--accent-12: var(--indigo-11);
		--accent-a12: var(--indigo-a11);
		font-weight: 500;
	}
	[data-accent-color='lime'] {
		--accent-12: var(--lime-11);
		--accent-a12: var(--lime-a11);
		font-weight: 500;
	}
}
